<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <a href="/en/">English</a> |
      <a href="/hy/">Հայերեն</a> |
      <a href="/ru/">Русский</a>
    </nav>

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
